<h1>AML Test App!</h1>
<div class="panel">
    <div class="panel-body jumbotron">
        <div>
            <h4>
                App created based on VS2017 Agular2 template
                ServerSide as per template is .NET Core 2.0
            </h4>
        </div>
        <div>
            <b> Please go to "Aml Service" tab to start/stop service</b>
        </div>
    </div>
    <div class="panel-body jumbotron">
        <div>
            Short solution description:
        </div>
        <div>
            It is basic, test application.
            Please check "Service" project folder to see settings, and AmlServiceWatcher class where all logic happens
        </div>
        <div>
            See Startup.cs to see application bootstraping (using DI)
        </div>
    </div>

    <div class="panel-body jumbotron">
        <div>
            Please set Twitter account credentials in order to see twitts
        </div>
    </div>

    <div class="panel-body jumbotron">
        <div>
            What could be improved:
        </div>
        <div>
            <ul>
                <li>Twitter service could/should use some form of Threads, as current implementation uses simply calls AML services as configured interval (see appSettings.json) </li>
                <li>For real app, a form of unit tests scould/should be added</li>
            </ul>
        </div>
    </div>

</div>